.table-style {
    width: 100%;
    border-collapse: collapse;
  }
  .table-style th {
    border-radius: 10px;
  }
  .table-style td {
    text-align: left;
    padding: 8px;
    background-color: transparent;
  }
  .table-style .first-column {
    font-weight: bold;
    color: #0066cc;
  }

  