*{
  font-family: 'Lexend Deca', sans-serif;
  margin: 0;
  padding: 0;
}

.container{
  width: 1500px;
  height: 780px;
  border-radius: 20px;
  box-shadow: 0px 2px 20px 3px #b0d1f3;
  margin-top: 3em;

}